* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, -apple-system, system-ui, sans-serif;
}

body {
  background: #f5f5f7;
}

/* MAIN TWO-COLUMN LAYOUT */
.app-layout {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

/* LEFT SIDE */
.left-column {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* RIGHT SIDE */
.right-column {
  width: 280px;
}

/* DASHBOARD TOTAL */
.total-number {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.total-label {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-top: 6px;
}

/* CATEGORY BOX */
.category-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.category-box {
  background: #fff;
  padding: 18px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
}

.category-box strong {
  font-size: 18px;
  color: #333;
}

.category-box div {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}


/* FORM CARD */
form {
  background: #fff;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-size: 15px;
  color: #444;
}

input, select {
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
}

/* opted to use an existing stylized button
pulled from: https://getcssscan.com/css-buttons-examples */
button {
  width: 40%;
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background: #50a5ff;
}
