.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #097c87;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
  margin: 0;
  font-size: 1.5rem;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.links a:hover {
  color: #ffdd57;
}