*{
    font-family: Arial, Helvetica, sans-serif;
    
}
.question-card {
    background-color: #097c87;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin: 1.5rem auto;
    max-width: 600px;
    text-align: center;
}

.question-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #fca47c;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-btn {
    align-self: center;
    font-weight: bold;
    width: 90%;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #fca47c;
    color: #097c87;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}


